.authentication {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 370px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to right, rgb(3, 33, 114), rgb(3, 3, 59));
}

.tracker {
  /* display: flex; */
  overflow: hidden;
  color: rgb(226, 223, 223);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2)
  );
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.3);
}

.list_tracker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 3px;
}
.dispaly {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 10px;
  padding: 20px;
}
.transaction_container {
  max-height: 430px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
  }
}
